@charset "utf-8";
/* CSS Document */

*{
    margin:0px;
    padding:0px;
}
.group:after{
    visibility:hidden;
    display: block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.group{
    display:inline-block;
    clear: both;
}
/* start commented backslash hack \*/ 
* html .group {
    height: 1%;
} 
.group{
    display: block; 
} 
/* close commented backslash hack */

body{
    font:SegoeUISymbol;
    font-size:14px;
    background:#f3ebcb;
}
.body_{
    width:100%;
    height:100%;
}
.topMenu{
    padding: 20px 0px 0px 10px;
    height: 40px;
    background: #1e3980;    
}
.topMenu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.topMenu ul li{
    float: left;
}
.topMenu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
}
.topMenu ul li a:hover{
    color: #5584ff;
}
.menuAdmin{
    padding: 10px;
    border: 1px solid #999;
    width: 340px;
    margin: 20px 0px 0px 20px;
}
.menuAdmin ul{
        margin-left: 30px;
        list-style-type: none;
        color: #1e3980;
        font-weight: bold;
}
.menuAdmin ul a.del{
        color: #660000;
}
.menuAdmin ul a{
        color: #1e3980;
        font-weight: bold;
}
.menuItems{
    padding: 7px;
}
.menuItems label{
    font-weight: bold;
    padding-right: 10px;
}
.menuItems input[type="text"], .menuItems select {
     padding:3px;
     width: 200px;
     border: 1px solid #999;    
}
.menuItems select{
    margin-left: 4px;
    width: 205px;
}
.menuSend{
    text-align: right;
    padding: 10px 10px 0px 0px;
}
.menuSend input[type="submit"]{
    background: #1e3980;
    color: #fff;
    padding: 3px;
    border: 1px solid #999;
}
 .ui-menu { width: 150px; }